@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        .login-bg {
            background: #fff;
        }
    </style>
}

<div class="login-bg">
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {

            var height = $(window).height() - 207;
            $('.login-bg').height(height);
        });
    </script>
}