@using WXB.Bussiness.ViewModels
@using System.Text
@model NoticeVM
@{
    var notice = Model == null ? new NoticeVM() : Model;
    var feedbackTime = notice.FeedBackTime.HasValue ? notice.FeedBackTime.Value.ToString("yyyy-MM-dd") : "";
}

<style type="text/css">
    .feedback-head {
        background: #eee;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        padding-left: 10px;
        font-weight: 600;
    }

    .feedback .title-text, .time-text, .content-text {
        margin-right: 10px;
    }

    .main-title .title-text {
        display: inline-block;
        margin-right: 10px;
    }

    .main-title .title-val {
        display: inline-block;
        width: 400px;
        vertical-align: bottom;
    }

    .main-title, .main-time {
        line-height: 30px;
        height: 30px;
        margin: 8px 10px 0px;
    }

    .main-content {
        margin: 16px 10px 0px;
    }

    .feedback-foot {
        text-align: center;
        margin-top: 8px;
    }

    .feedbackTime {
        line-height: 20px;
        height: 20px;
        width: 80px;
        text-align: center;
    }

    .main-content .content-text {
        display: inline-block;
        vertical-align: top;
    }

    .main-content .feedbackContent {
        margin-top: 3px;
        width: 400px;
        height: 130px;
        padding: 5px;
        resize: vertical;
    }
</style>
<div class="feedback">
    <div class="feedback-head">
        <span class="head-title">通知反馈</span>
    </div>
    <div class="feedback-main">
        <div class="main-title">
            <span class="title-text">通知标题</span>
            <span class="title-val ellipsis" title="@(notice.Title)">@(notice.Title)</span>
        </div>
        <div class="main-time">
            <span class="time-text">反馈日期</span>
            <input type="text" class="feedbackTime" name="feedbackTime" value="@(feedbackTime)" />
        </div>
        <div class="main-content">
            <span class="content-text">反馈内容</span>
            <textarea class="feedbackContent">@(notice.FeedBack)</textarea>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        laydate.render({
            elem: '.feedbackTime',
            type: 'date'
        });
    });
</script>